.logo {
    text-align: center;
}

.logo img {
    width: 15%;
}

.welcome {
    text-align: center;
    /* font-size: xx-large; */
}

header nav {
    text-align: center;
}

header nav a {
    color: black;
    margin: 10px;
    font-size: large;
}

:root {
    --accent-bg: #fafafa
}

:root {
    --prefers-color-scheme: light;
}

.fa {
    padding: 5px;
    text-decoration: none;
    font-size: x-large !important;
  }

.notice {
background: var(--accent-bg);
border: 2px solid var(--border);
border-radius: 5px;
padding: 1.5rem;
margin: 2rem 0;
}